@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

#reservia
{
    width: 1440px;
    margin: auto;
    border: 2px solid red;
    padding: 0 50px;
}

header
{
    height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0; padding: 0;
}

#logo
{
    padding-bottom: 15px;
}

#nav-inscription
{
    display: flex;
    justify-content:space-between;
    align-items: flex-start;
    height: 110px;
}

a
{
    font-family: Raleway, sans-serif;
    text-decoration: none;
    color: black;
}

ul
{
    list-style-type: none;
    display: flex;
    margin: 0;
    padding-left: 0;
}

li
{
    width: 160px;
    text-align: center;
    font-size: 16px;
    padding-top: 50px;
    border-top: 2px solid white;
}

#menu-actif
{
    border-top: 2px solid #0065FC;
}

#menu-actif a
{
    color: #0065FC;
}

#inscription
{
    padding: 50px 30px 0 0;
}

#inscription p
{
    margin: 0; padding: 0;
    border-top: 2px solid white;
}

#inscription a
{
    color: #0065FC;
    font-weight: 700;
}