/* ----- TYPOGRAPHIE ---------------------------------------------------------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

/* ----- GÉNÉRAL -------------------------------------------------------------------------------------------- */

#reservia /* SITE GLOBAL */
{
    width: 1440px;
    margin: auto;
    border: 2px solid red;
}

h1, h2
{
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 21px;
    margin: 0; padding: 0;
}

h1
{
    margin: 15px 0 15px 0;
}

p
{
    font-family: Raleway, sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin: 0; padding: 0;
}

a
{
    font-family: Raleway, sans-serif;
    text-decoration: none;
    color: black;
}

/* ----- HEADER --------------------------------------------------------------------------------------------- */

header
{
    height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0; padding: 0 50px;
}

/* --------------- LOGO RESERVIA ---------------------------------------------------------------------------- */

#logo
{
    padding-bottom: 15px;
}

/* --------------- MENU + INSCRIPTION ----------------------------------------------------------------------- */

#nav-inscription 
{
    display: flex;
    justify-content:space-between;
    align-items: flex-start;
    height: 110px;
}

/* --------------- MENU ------------------------------------------------------------------------------------- */

ul
{
    list-style-type: none;
    display: flex;
    margin: 0;
    padding-left: 0;
}

li
{
    width: 160px;
    text-align: center;
    font-size: 16px;
    padding-top: 50px;
    border-top: 2px solid white;
}

#menu-actif
{
    border-top: 2px solid #0065FC;
}

#menu-actif a
{
    color: #0065FC;
}

/* --------------- INSCRIPTION ------------------------------------------------------------------------------ */

#inscription
{
    padding: 50px 30px 0 0;
}

#inscription p
{
    margin: 0; padding: 0;
    border-top: 2px solid white;
}

#inscription a
{
    color: #0065FC;
    font-weight: 700;
}

/* ----- SECTION INTRO + RECHERCHE -------------------------------------------------------------------------- */

#intro-recherche
{
    height: 160px;
    padding: 0 50px;
}

/* --------------- INTRODUCTION ----------------------------------------------------------------------------- */

#intro
{
    justify-content: space-between;
    height: 80px;
}

/* --------------- RECHERCHE -------------------------------------------------------------------------------- */

#recherche
{
    height: 50px;
    display: flex;
    align-items: center;
    border-radius: 13px;
    width: 420px;
    background-color: #F2F2F2;
    margin: 15px 0;
}

#recherche i
{
    width: 50px;
    text-align: center;
}

input
{
    width: 230px;
    height: 50px;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 18px;
    padding-left: 15px;
    border-color: #F2F2F2;
    border-style: solid;
}

#bouton
{
    width: 140px;
    height: 50px;
    text-align: center;
    background-color: #0065FC;
    border-style: none;
    border-radius: 0 13px 13px 0;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: white;
}

#bouton:hover
{
    background-color: #ffffff;
    border: 2px solid #0065FC;
    color: #0065FC;
}

/* ----- SECTION FILTRES + INFO ----------------------------------------------------------------------------- */

#filtres-infos
{
    padding: 0 50px;
}

/* --------------- FILTRES ---------------------------------------------------------------------------------- */

#filtres
{
    margin: 15px 0 35px 0;
    display: flex;
    align-items: center;
    height: 50px;
}

h3
{
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 18px;
    margin: 0 20px 0 0; padding: 0 10px;
    color: black;
}

/* --------------- CATEGORIES DE FILTRES -------------------------------------------------------------------- */

#categories h3
{
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 18px;
    margin: 0; padding: 12px 20px 0 60px;
    color: black;
}

#categories
{
    display: flex;
}

.bouton
{
    border-style: none;
    background-color: white;
    margin: 0; padding: 0;
}

.choix
{
    height: 46px;
    border-radius: 30px;
    border: 2px solid #F2F2F2;
    background-color: white;
    margin: 0 25px 0 0; padding: 0;
    position: relative;
    z-index: 1;
}

.choix:hover
{
    border: 2px solid #0065FC;
    background-color: white;
    margin: 0 25px 0 0; padding: 0;
    position: relative;
    z-index: 1;
}

.cercle
{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: #DEEBFF;
    position: absolute;
    z-index: 2;
}

.cercle:hover
{
    background-color: #0065FC;
}

.cercle i
{
    margin-top: 35%;
    color: #0065FC;
}

.cercle i:hover
{
    color: #ffffff;
}

/* --------------- INFOS ------------------------------------------------------------------------------------ */

#infos
{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#info-icon
{
    width: 25px;
    height: 25px;
    border: 1px solid #F2F2F2;
    border-radius: 30px;
    text-align: center;
    margin: 0 10px;
}

#info-icon i
{
    height: 10px;
    color: #0065FC;
    margin-top: 15%;
}

/* ----- SECTION HEBERGEMENTS ------------------------------------------------------------------------------- */

#hebergements
{
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
}

/* --------------- HEBERGEMENTS MARSEILLE ------------------------------------------------------------------- */

#hebergement-marseille
{
    width: 880px;
    height: 625px;
    border-radius: 20px;
    background-color: #F2F2F2;
    margin-top: 20px;
}

#hebergement-marseille h2
{
    margin: 45px 0 0 40px;
}

#proposition-chambres
{
    width: 800px;
    height: 430px;
    margin: 25px 0 25px 40px;
    justify-content: center;
}

.trio
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.chambre
{
    height: 200px;
    border-radius: 20px;
    background-color: white;
    margin: 0; padding: 0;
    box-shadow: 0 0 20px #b1b1b1;
}

.crop
{
    width: 235px;
    height: 115px;
    overflow: hidden;
    border-radius: 15px 15px 0 0;
    margin: 5px;
}

.chambre img
{
    width: 235px;
    position: relative;
    top: 50%;
    transform: translate(0%, -50%);
}

.chambre h4
{
    font-size: 16px;
    margin: 0 0 0 15px; padding: 0;
}

.chambre p, .note
{
    margin:  5px 0 5px 15px;
    font-size: 14px;
}

.tarif
{
    font-weight: 700;
}

.blue
{
    color: #0065FC;
}

.grey
{
    color: #F2F2F2;
}

h4
{
    margin: 45px 0 0 40px;
}

/* --------------- LES PLUS POPULAIRES ---------------------------------------------------------------------- */

#populaires
{
    width: 420px;
    height: 625px;
    border-radius: 20px;
    background-color: #F2F2F2;
    margin-top: 20px;
}

#pop-icone
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 45px 40px 0 40px;
    font-size: 21px;
}

#proposition-pop
{
    width: 340px;
    height: 500px;
    margin: 0 0 25px 40px;
}

.chambre-pop, .chambre-pop02
{
    display: flex;
    height: 145px;
    border-radius: 20px;
    background-color: white;
    margin: 30px 0 0 0; padding: 0;
    box-shadow: 0 0 20px #b1b1b1;
}

.crop-pop, .crop-pop02
{
    width: 125px;
    height: 135px;
    overflow: hidden;
    border-radius: 15px 0 0 15px;
    margin: 5px;
}

.chambre-pop img
{
    height: 135px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

.chambre-pop02 img
{
    width: 125px;
    position: relative;
    top: 50%;
    transform: translate(0%, -50%);
}

.chambre-pop-info
{
    width: 145px;
    margin: -130px 0 0 150px;
}

.chambre-pop h4, .chambre-pop02 h4
{
    font-size: 16px;
    margin: 0; padding: 0;
}

.chambre-pop p, .chambre-pop02 p
{
    margin:  10px 0;
    font-size: 14px;
}

.chambre-pop .note, .chambre-pop02 .note
{
    margin:  35px 0;
    font-size: 14px;
}