/* ----- TYPOGRAPHIE ---------------------------------------------------------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

/* ----- GÉNÉRAL -------------------------------------------------------------------------------------------- */

#reservia /* SITE GLOBAL */
{
    width: 1440px;
    margin: auto;
    border: 2px solid red;
    padding: 0 50px;
}

h1, h2
{
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 21px;
    margin: 0; padding: 0;
}

h1
{
    margin: 15px 0 15px 0;
}

p
{
    font-family: Raleway, sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin: 0; padding: 0;
}

a
{
    font-family: Raleway, sans-serif;
    text-decoration: none;
    color: black;
}

/* ----- HEADER --------------------------------------------------------------------------------------------- */

header
{
    height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0; padding: 0;
}

/* --------------- LOGO RESERVIA ---------------------------------------------------------------------------- */

#logo
{
    padding-bottom: 15px;
}

/* --------------- MENU + INSCRIPTION ----------------------------------------------------------------------- */

#nav-inscription 
{
    display: flex;
    justify-content:space-between;
    align-items: flex-start;
    height: 110px;
}

/* --------------- MENU ------------------------------------------------------------------------------------- */

ul
{
    list-style-type: none;
    display: flex;
    margin: 0;
    padding-left: 0;
}

li
{
    width: 160px;
    text-align: center;
    font-size: 16px;
    padding-top: 50px;
    border-top: 2px solid white;
}

#menu-actif
{
    border-top: 2px solid #0065FC;
}

#menu-actif a
{
    color: #0065FC;
}

/* --------------- INSCRIPTION ------------------------------------------------------------------------------ */

#inscription
{
    padding: 50px 30px 0 0;
}

#inscription p
{
    margin: 0; padding: 0;
    border-top: 2px solid white;
}

#inscription a
{
    color: #0065FC;
    font-weight: 700;
}

/* ----- SECTION INTRO + RECHERCHE -------------------------------------------------------------------------- */

#intro-recherche
{
    height: 160px;
    padding: 0;
}

/* --------------- INTRODUCTION ----------------------------------------------------------------------------- */

#intro
{
    justify-content: space-between;
    height: 80px;
}

/* --------------- RECHERCHE -------------------------------------------------------------------------------- */

#recherche
{
    height: 50px;
    display: flex;
    align-items: center;
    border-radius: 13px;
    width: 420px;
    background-color: #F2F2F2;
    margin: 15px 0;
}

#recherche i
{
    width: 50px;
    text-align: center;
}

input
{
    width: 230px;
    height: 50px;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 18px;
    padding-left: 15px;
    border-color: #F2F2F2;
    border-style: solid;
}

#bouton
{
    width: 140px;
    height: 50px;
    text-align: center;
    background-color: #0065FC;
    border-style: none;
    border-radius: 0 13px 13px 0;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: white;
}    border: 1px solid red;

/* ----- SECTION FILTRES + INFO ----------------------------------------------------------------------------- */

#filtres-infos h3
{
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 18px;
    margin: 0; padding: 0;
    color: red;
}

#filtres
{
    display: flex;
    height: 50px;
}

#categories
{
    display: flex;
}

.choix
{
    display: flex;
    align-items: center;
}

.choix i
{
    
}