/* ----- TYPOGRAPHIE ---------------------------------------------------------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

/* ----- GÉNÉRAL -------------------------------------------------------------------------------------------- */

#reservia /* SITE GLOBAL */
{
    width: 100%;
    margin: auto;
    border: 2px solid green;
}

h1, h2
{
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 21px;
    margin: 0; padding: 0;
}

h1
{
    margin: 15px 0 15px 0;
}

p
{
    font-family: Raleway, sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin: 0; padding: 0;
}

a
{
    font-family: Raleway, sans-serif;
    text-decoration: none;
    color: black;
}

/* ----- HEADER --------------------------------------------------------------------------------------------- */

header
{
    height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0; padding: 0 5%;
}

/* --------------- LOGO RESERVIA ---------------------------------------------------------------------------- */

#logo
{
    padding-bottom: 15px;
}

/* --------------- MENU + INSCRIPTION ----------------------------------------------------------------------- */

#nav-inscription 
{
    display: flex;
    justify-content:space-between;
    align-items: flex-start;
    height: 110px;
}

/* --------------- MENU ------------------------------------------------------------------------------------- */

ul
{
    list-style-type: none;
    display: flex;
    margin: 0;
    padding-left: 0;
}

li
{
    width: 160px;
    text-align: center;
    font-size: 16px;
    padding-top: 50px;
    border-top: 2px solid white;
}

#menu-actif
{
    border-top: 2px solid #0065FC;
}

#menu-actif a
{
    color: #0065FC;
}

/* --------------- INSCRIPTION ------------------------------------------------------------------------------ */

#inscription
{
    padding: 50px 30px 0 0;
}

#inscription p
{
    margin: 0; padding: 0;
    border-top: 2px solid white;
}

#inscription a
{
    color: #0065FC;
    font-weight: 700;
}

/* ----- SECTION INTRO + RECHERCHE -------------------------------------------------------------------------- */

#intro-recherche
{
    height: 160px;
    padding: 0 5%;
}

/* --------------- INTRODUCTION ----------------------------------------------------------------------------- */

#intro
{
    justify-content: space-between;
    height: 80px;
}

/* --------------- RECHERCHE -------------------------------------------------------------------------------- */

#recherche
{
    width: 75%;
    height: 50px;
    display: flex;
    align-items: center;
    border-radius: 13px;
    background-color: #F2F2F2;
    margin: 15px 0;
}

#recherche i
{
    width: 10%;
    min-width: 50px;
    text-align: center;
}

form
{
    width: 100%;
}

input
{
    width: 100%;
    min-width: 230px;
    height: 50px;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 18px;
    padding-left: 15px;
    border-color: #F2F2F2;
    border-style: solid;
}

#bouton
{
    min-width: 140px;
    height: 50px;
    text-align: center;
    background-color: #0065FC;
    border-style: none;
    border-radius: 0 13px 13px 0;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: white;
}

#bouton:hover
{
    background-color: #ffffff;
    border: 2px solid #0065FC;
    color: #0065FC;
}

#recherche-desktop
{
    display: initial;
}

#recherche-phone
{
    display: none;
}



/* ----- SECTION FILTRES + INFO ----------------------------------------------------------------------------- */

#filtres-infos
{
    padding: 0 5%;
}

/* --------------- FILTRES ---------------------------------------------------------------------------------- */

#filtres
{
    margin: 15px 0 35px 0;
    display: flex;
    flex-direction: column;
}

h3
{
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 18px;
    margin: 0 20px 0 0; padding: 0 10px;
    color: black;
}

/* --------------- CATEGORIES DE FILTRES -------------------------------------------------------------------- */

#categories
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.bouton
{
    display: flex;
    align-items: center;
    height: 50px;
    border-radius: 30px;
    border: 2px solid #F2F2F2;
    background-color: white;
    margin: 10px 25px 0 0; padding: 2px 0 0 0;
    position: relative;
    z-index: 1;
}

.bouton:hover
{
    border: 2px solid #0065FC;
}

.cercle
{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: #DEEBFF;
    position: absolute;
    margin: -2px 0 0 -2px;
    z-index: 2;
}

.bouton:hover .cercle
{
    background-color: #0065FC;
}

.cercle i
{
    font-size: 1.5em;
    margin-top: 33%;
    color: #0065FC;
}

.bouton:hover .cercle i
{
    color: #ffffff;
}

.nom-filtre
{
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 18px;
    margin: 0; padding: 0 20px 0 60px;
    color: black;
}

/* --------------- INFOS ------------------------------------------------------------------------------------ */

#infos
{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#info-icon
{
    width: 25px;
    height: 25px;
    border: 1px solid #F2F2F2;
    border-radius: 30px;
    text-align: center;
    margin: 0 10px;
}

#info-icon i
{
    height: 10px;
    color: #0065FC;
    margin-top: 15%;
}

/* ----- SECTION HEBERGEMENTS ------------------------------------------------------------------------------- */

#hebergements
{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: column-reverse;
    align-items: center;
}

/* --------------- HEBERGEMENTS MARSEILLE ------------------------------------------------------------------- */

#hebergement-marseille
{
    width: 100%;
    height: 625px;
    border-radius: 20px;
    background-color: #ffffff;
    margin-top: -10px;
}

#hebergement-marseille h2
{
    margin: 45px 5% 0 5%;
}

#proposition-chambres
{
    width: 90%;
    margin: 25px 5% 25px 5%;
}

.trio
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.chambre
{
    width: 30%;
    border-radius: 20px;
    background-color: white;
    margin: 0; padding: 0;
    box-shadow: 0 0 20px #b1b1b1;
}

.crop
{
    height: 115px;
    overflow: hidden;
    border-radius: 15px 15px 0 0;
    margin: 5px;
}

.chambre img
{
    width: 100%;
    min-width: 210px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.chambre h4
{
    font-size: 16px;
    margin: 5% 0 0 5%; padding: 0;
}

.chambre p, .note
{
    margin:  5% 0 5% 5%;
    font-size: 14px;
}

.tarif
{
    font-weight: 700;
}

.blue
{
    color: #0065FC;
}

.grey
{
    color: #F2F2F2;
}

h4
{
    margin: 45px 5% 0 5%;
}

/* --------------- LES PLUS POPULAIRES ---------------------------------------------------------------------- */

#populaires
{
    width: 100%;
    background-color: #F2F2F2;
    margin-top: 20px;
    border-radius: 0px;
}

#pop-icone
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 45px 5% 0 5%;
    font-size: 21px;
}

#proposition-pop
{
    width: 90%;
    margin: 0 5% 45px 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.chambre-pop, .chambre-pop02
{
    width: 45%;
    display: flex;
    border-radius: 20px;
    background-color: white;
    margin: 30px 0 0 0; padding: 0;
    box-shadow: 0 0 20px #b1b1b1;
}

.crop-pop, .crop-pop02
{
    width: 40%;
    height: 165px;
    overflow: hidden;
    border-radius: 15px 0 0 15px;
    margin: 5px;
}

.chambre-pop img
{
    height: 100%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.chambre-pop02 img
{
    width: 100%;
    min-width: 125px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.chambre-pop-info
{
    padding: 0 5%;
}

.chambre-pop a, .chambre-pop02 a
{
    width: 100%;
    padding: 0;
    display: flex;
    align-items: center;
}

.chambre-pop h4, .chambre-pop02 h4
{
    font-size: 16px;
    margin: 0; padding: 0;
    margin-top: 10%;
}

.chambre-pop p, .chambre-pop02 p
{
    margin:  5% 0;
    font-size: 14px;
}

.chambre-pop .note, .chambre-pop02 .note
{
    margin: 15% 0 5% 0;
    font-size: 14px;
}

/* ----- SECTION ACTIVITES ---------------------------------------------------------------------------------- */

#activites
{
    padding: 30px 5% 0 5%;
}

#proposition-activites
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 0 60px 0;
}

.duo
{
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 30px;
}

/* --------------- ACTIVITE 01 ------------------------------------------------------------------------------ */

.activite01
{
    width: 45%;
    height: 445px;
    border-radius: 20px;
    background-color: white;
    margin-top: 30px; padding: 0;
    box-shadow: 0 0 20px #b1b1b1;
}

.crop-activite01
{
    width: 100%;
    height: 390px;
    overflow: hidden;
    border-radius: 15px 15px 0 0;
}

.activite01 img
{
    height: 460px;
    position: relative;
    left: 50%;
    transform: translate(-50%, -5%);
}

.activite01 h4
{
    font-size: 16px;
    margin: 5% 0 0 5%; padding: 0;
}

/* --------------- ACTIVITE 02 ------------------------------------------------------------------------------ */

.activite02
{
    width: 100%;
    height: 235px;
    border-radius: 20px;
    background-color: white;
    margin: 0; padding: 0;
    box-shadow: 0 0 20px #b1b1b1;
}

.crop-activite02
{
    height: 180px;
    overflow: hidden;
    border-radius: 15px 15px 0 0;
}

.activite02 img
{
    width: 100%;
    position: relative;
    top: 60%;
    transform: translate(0%, -50%);
}

.activite02 h4
{
    font-size: 16px;
    margin: 5% 0 0 5%; padding: 0;
}

/* --------------- ACTIVITE 03 ------------------------------------------------------------------------------ */

.activite03
{
    width: 100%;
    height: 165px;
    border-radius: 20px;
    background-color: white;
    margin: 0; padding: 0;
    box-shadow: 0 0 20px #b1b1b1;
}

.crop-activite03
{
    height: 110px;
    overflow: hidden;
    border-radius: 15px 15px 0 0;
}

.activite03 img
{
    width: 100%;
    min-height: 175px;
    position: relative;
    top: 75%;
    transform: translate(0%, -50%);
}

.activite03 h4
{
    font-size: 16px;
    margin: 5% 0 0 5%; padding: 0;
}

/* --------------- ACTIVITE 04 ------------------------------------------------------------------------------ */

.activite04
{
    width: 100%;
    height: 195px;
    border-radius: 20px;
    background-color: white;
    margin: 0; padding: 0;
    box-shadow: 0 0 20px #b1b1b1;
}

.crop-activite04
{
    height: 140px;
    overflow: hidden;
    border-radius: 15px 15px 0 0;
}

.activite04 img
{
   
    width: 100%;
    min-height: 275px;
    position: relative;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.activite04 h4
{
    font-size: 16px;
    margin: 5% 0 0 5%; padding: 0;
}

/* ----- PIED DE PAGE --------------------------------------------------------------------------------------- */

footer
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #F2F2F2;
}

.footer
{
    width: 20%;
    padding: 5%;
}

footer h3
{
    margin: 0;
    padding: 0 0 10px 0;
}

footer p
{
    padding-top: 10px;
}